{% if cart.item_count > 0 %}

<form id="cart" action="/cart" method="post">

	<div class="cart_hldr">
    	<div class="container">
	    	
	    	<h1>Your Cart</h1>
  	
    		<table>
    			
    			<thead>
	    			<tr>
	    				<th class="t_items">Items</th>
	    				<th class="t_price">Price</th>
	    				<th class="t_qty">Quantity</th>
	    				<th class="t_total">Total</th>
	    			</tr>
    			</thead>
    		
    			<tbody>
	    			{% for item in cart.items %}
    				<tr>
    					
    					<td class="t_items">
	    					<div class="items">
	    						
	    						{%comment%}
	    						Thanks! - http://support.shopify.com/customer/portal/articles/75333-how-do-i-associate-a-product-image-with-a-particular-variant-or-option-
	    						{%endcomment%}
	    						
	    						{% assign option_index = 0 %}
									{% assign found_option = false %}
									{% assign index = 0 %}
									{% assign found_image = false %}
									
									{% for option in item.product.options %}
										{% if found_option == false %}
											{% assign downcased_option = option | downcase %}
											{% if downcased_option contains 'color' or downcased_option contains 'title' or downcased_option contains 'colour' or downcased_option contains 'style' %}
												{% assign option_index = forloop.index0 %}
												{% assign found_option = true %}
											{% endif %}
										{% endif %}
									{% endfor %}
									
									{% if found_option %}
										{% for image in item.product.images %}
											{% unless found_image %}
												{% if image.alt == item.variant.options[option_index] %}
													{% assign index = forloop.index0 %}
													{% assign found_image = true %}
												{% endif %}
											{% endunless %}
										{% endfor %}
									{% endif %}

									<a href="{{ item.product.url | within: collections.all }}">  
										<img src="{{ item.product.images[index] | product_img_url: 'medium' }}" alt="{{ item.variant.title | escape }}" />
										<p class="item_name">{{ item.title }}</p>
									</a>

	    					</div>
    					</td>
    					
						<td class="t_price price">${{ item.price | money_without_currency }}</td>
					
						<td class="t_qty">
							<div class="qty-add">
								<input type="submit" name="update" value="Update" class="button-tiny"/>
								<input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
								<a href="/cart/change?line={{ forloop.index }}&quantity=0" class="button-tiny remove">Remove</a>
							</div>
						</td>

						<td class="t_total">${{ item.line_price | money_without_currency }}</td>

					</tr>
					{% endfor %}

				</tbody>
    		
    		</table>
    		

			<div id="subtotal">
				<div class="pull-left">
					<p><span class="glyphicon glyphicon-warning-sign"></span> <strong>Shipping + Tax</strong> are calculated in the next step, before you pay</p>
				</div>
				<div class="pull-right">
					<p><span>Subtotal:</span> ${{ cart.total_price | money_without_currency }}</p>
				</div>
			</div>

    		<p id="proceed">
    			<button type="submit" name="checkout" class="btn btn-green">Proceed to Checkout</button>
    		</p>
    		
    	</div>
    </div><!-- /cart_hldr -->

</form>


{% else %}

<div class="cart_hldr">
	<div class="container">

		<h1>Your Cart</h1>
		<p>It appears that your cart is currently empty!</p>
		<p>You can continue browsing <a href="/">here</a>.</p>

	</div>
</div>

{% endif %}















